{% extends 'default.html' %}
{% load static %}

{% block content %}
    <article>
        <!-- Post header-->
        <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">{{ ad.title }}</h1>
            <!-- Post meta content-->
            {% if ad.author == current_user %}
                <div class="text-muted fst-italic mb-2">Posted on {{ ad.date_posted|date:'d-M-Y' }}
                    {{ ad.date_posted|time:'H:i' }} by {{ ad.author }}
{#                    <a href="{% url 'mmorpg:ads_edit' ad.pk %}">+ Edit Blog Post</a>|#}
{#                    <a href="{% url 'mmorpg:ads_delete' ad.pk %}">+ Delete Blog Post</a>#}
                </div>
            {% else %}
                {% if user.is_authenticated %}
                    <div class="text-muted fst-italic mb-2">Posted on {{ ad.date_posted|date:'d-M-Y' }}
                        {{ ad.date_posted|time:"H:i" }} by {{ ad.author }}
{#                        <a href="{% url 'mmorpg:comment_create' post.pk %}">+ Add comment</a>#}
                    </div>
                {% else %}
                    <div class="text-muted fst-italic mb-2">Posted on {{ ad.date_posted|date:'d-M-Y' }}
                        {{ ad.date_posted|time:"H:i" }} by {{ ad.author }}
                    </div>
                {% endif %}
            {% endif %}
            <!-- Post categories-->
            {% for c in ad.category.all %}
                <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'mmorpg:category_detail' c.id %}">{{ c.name }}</a>
            {% endfor %}
        </header>
        <section class="mb-5">
        <div>
            <h4>CONTENT:</h4>
            <p>{{ ad.description|safe }}</p>
        {% if comment_list %}
            {% for comments in comment_list %}
            <p> {{ comments.author }} &lowast; {{ comments.date_posted|date:'d F Y, H:i' }} &lowast; </p>
            <p> {{ comments.content }} </p>
            <p><q>&lowast;&lowast;&lowast;</q></p>
            {% endfor %}
        {% else %}
            <h3>NO COMMENT</h3>
        {% endif %}
        </div>
        </section>
    </article>
{% endblock content %}

{#{% block cat-widget %}#}
{#    {% if cat_fh or cat_sh %}#}
{#        <div class="col-sm-6">#}
{#            <ul class="list-unstyled mb-0">#}
{#                {% for category in cat_fh %}#}
{#                    <li><a href="{% url 'mmorpg:category_detail' category.id %}">{{ category.name }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        </div>#}
{#        <div class="col-sm-6">#}
{#            <ul class="list-unstyled mb-0">#}
{#                {% for category in cat_sh %}#}
{#                    <li><a href="{% url 'mmorpg:category_detail' category.id %}">{{ category.name }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        </div>#}
{#    {% else %} <!-- Если товаров нет, то говорим что товаров нет ;) -->#}
{#        <h4>Categories not found</h4>#}
{#    {% endif %}#}
{#{% endblock cat-widget %}#}
{##}
{#{% block search %}#}
{#    <form class="input-group " action="{% url 'mmorpg:search_results' %}" method="get">#}
{#        <input name="q" class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />#}
{#    </form>#}
{#{% endblock search %}#}
